# Byte-compiled / optimized / DLL files
__pycache__
*.pyc

# Distribution / packaging
*.egg-info/
build/
dist/

# Docs generation
docs/_build/

# local directory
src/pypromice/local

# Test output directories
src/pypromice/test/TEST1/*
src/pypromice/test/TEST2/*
src/pypromice/test/STATION/*
src/pypromice/postprocess/BUFR_out/*

# Pickled timestamp reference file
src/pypromice/postprocess/latest_timestamps.pickle
src/pypromice/postprocess/latest_timestamps.pkl

# Output positions from transmitted GPS
src/pypromice/postprocess/positions.csv

# sqlite db files
*.db
